@media screen and (max-width: 825px) {

     /*Menu*/

    .menu{
        flex-direction: column;
        padding: 10px;
    }
    .contenedor{
        width: 100%;
        justify-content: space-between;
    }
    .contenedor_icono_menu{
        display: inline-block;
    }
    .icono_menu{
        display: inline-block;
    }
    .contenedor_menu{
        width: 100%;
        background-color: #f3f3f3;
        flex-direction: column;
    }
    .menu_responsive{
        width: 100%;
        display: none;
    }
    nav a{
        padding: 15px 0px;
    border-bottom: 3px dotted black  ;
    }

    /*Servicios*/

    .servicios{
        align-items: center;
        flex-direction: column;
    }
    .servicio{
        margin: 0px 40px;
        max-width: 600px;
    }

}

@media screen and (max-width: 600px) {

     /*Slide y Titulo*/

     .titulo_slide{
        line-height:50px ;
        font-size: 40px;
        color:  #f3f3f3;;
    }
}